<!-- login.component.html -->
 <!-- This card will appear automatically after 2 seconds (2000ms) -->
<div *appDelay="2000" class="welcome-card">
  <h2>Welcome to the App!</h2>
  <p>Sorry for the delay, I was busy rendering.</p>
</div>

<div class="login-container">
  <div class="logo">Bi<span>Blog</span></div>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required>
      <mat-error *ngIf = "username.invalid && username.touched">
            <span *ngIf = "username.errors?.['required']">Username required</span>
            <span *ngIf = "username.errors?.['email']">Invalid email format</span>
       </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
       <mat-error *ngIf = "password.invalid && password.touched">
            <span *ngIf = "password.errors?.['required']">Password required</span>
            <span *ngIf = "password.errors?.['minlength']">Password must be minimum of 6 characters</span>
       </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Login
    </button>
    <span class="signup"><a routerLink="/signup">Sign Up</a></span>
  </form>
  <p appHighlight="cyan">Hover over me to see a cyan highlight!</p>

<!-- Or use the default yellow value defined in the directive -->
<p appHighlight = "yellow">Hover over me to see a yellow highlight!</p>
</div>


