<footer class="footer">
  <div class="footer-container">
    <div class="footer-column brand">
      <div class="logo">Bi<span>Blog</span></div>
      <p>Write. Share. Inspire.</p>
    </div>

    <div class="footer-column">
      <h4>Explore</h4>
      <a mat-button routerLink="/blogs">Blogs</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/contact">Contact</a>
    </div>

    <div class="footer-column">
      <h4>Connect</h4>
      <div class="social-icons">
        <a href="1"><mat-icon>facebook</mat-icon></a>
        <a href="#"><mat-icon>twitter</mat-icon></a>
        <a href="#"><mat-icon>instagram</mat-icon></a>
        <a href="#"><mat-icon>code</mat-icon></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 BiBlog. Built with ❤️ using Angular.</p>
  </div>
</footer>
