<mat-card class="blog-detail-card" *ngIf="blog">
  <mat-card-header>
    <mat-card-title>{{ blog.title }}</mat-card-title>
    <mat-card-subtitle>By {{ blog.author }} • {{ blog.date | date:'mediumDate' }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image *ngIf="blog.image" [src]="blog.image" alt="Blog image" class="blog-image" />

  <mat-card-content>
    <div class="blog-content" [innerHTML]="blog.excerpt"></div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button color="primary"  (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Back to Blogs
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

